section {
    padding: 3em 2em;
}

table {
    padding: 2em 0;
    width: 100%;
    border-collapse : collapse;
}

thead, tr, th, tbody {
    padding: 1em;
}

td, th {
    border-bottom: 1px solid black;
}

.row {
    gap: 0.6em;
    padding: 1em 0;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

td img {
    width: 210px;
    object-fit: cover;
}

.footer-cart {
    padding: 1em 0;
    display: flex;
    justify-content: end;
    justify-self: center;
    width: 100%;
}

.footer-cart p {
    font-weight: bolder;
}

.footer-cart .btn-dark {
    padding: 0;
    margin-top: 1em;
    height: 50px;
}